.app-promo {
  position: relative;
  width: 1280px;
  margin: 60px auto;
  background: #e0f3ec;
  border-radius: 20px;
  padding: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.promo-phone-bg {
  position: absolute;
  left: -100px;          
  bottom: -20px;        
  width: 600px;
  height: 600px;
  background-image: url("/assets/phone-bg.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-6deg);
  opacity: 1;
  z-index: 1;
}

.promo-content {
  position: relative;
  z-index: 2; 
  text-align: left;
  width: 45%;
}

.promo-title {
  font-family: "Lexend Deca";
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.promo-text {
  font-family: "Lexend Deca";
  font-size: 16px;
  color: #555;
  line-height: 26px;
  margin-bottom: 30px;
}

.promo-btn {
  padding: 14px 32px;
  font-size: 16px;
  background: #32a676;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
