.footer-section {
  width: 100%;
  background: #add7c8;
  padding: 50px 40px;
  font-family: "Lexend Deca", sans-serif;
}

.newsletter {
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0,0,0,0.12);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-left h3 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.news-left p {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 4px;
  color: #000;
}

.news-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.news-input {
  width: 260px;
  padding: 14px 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #e3f0ec;
  font-size: 15px;
  color: #000;
}

.news-btn {
  background: #ffffff;
  color: #32a676;
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.footer-main {
  width: 1280px;
  margin: 25px auto 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.brand-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img {
  width: 40px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.logo-text .line1 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.logo-text .line2 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.currency-select {
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  color: #000;
  background: #add7c8;
  border: 1px solid #333;
}

.footer-links {
  display: flex;
  gap: 26px;
  font-size: 14px;
  color: #000;
  opacity: 0.85;
}

.footer-links a {
  cursor: pointer;
}

.footer-social {
  display: flex;
  gap: 18px;
}

.footer-social img {
  width: 18px;
  cursor: pointer;
  opacity: 0.85;
}


.footer-bottom {
  width: 1280px;
  margin: 30px auto 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  color: #000;
  opacity: 0.75;
  margin-bottom: 15px;
}


@media (max-width: 1024px) {
  .newsletter,
  .footer-main,
  .footer-bottom {
    width: 90%;
  }
}

@media (max-width: 768px) {

  .newsletter {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 20px;
  }

  .news-right {
    width: 100%;
  }

  .news-input {
    width: 100%;
  }

  .footer-main {
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    margin-top: 40px;
  }

  .footer-links {
    flex-wrap: wrap;
    gap: 14px 20px;
  }
}

@media (max-width: 480px) {
  .footer-section {
    padding: 40px 20px;
  }

  .footer-bottom p {
    font-size: 13px;
  }
}
