.footer-section {
  width: 100%;
  background: #CDE7DF;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Lexend Deca", sans-serif;
}

/* ------------------ NEWSLETTER ------------------ */

.newsletter {
  width: 1280px;
  margin: 0 auto 40px auto;
  padding-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-left h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}

.news-left p {
  font-size: 14px;
  opacity: 0.7;
}

.news-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.news-input {
  width: 260px;
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: white;
  font-size: 15px;
}

.news-btn {
  background: #1EA97C;
  border: none;
  padding: 12px 24px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

/* ------------------ FOOTER MAIN ------------------ */

.footer-main {
  width: 1280px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* brand */
.brand-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-icon {
  width: 36px;
}

.brand-text {
  display: flex;
  flex-direction: column;
  line-height: 16px;
}

.brand-text strong {
  font-size: 16px;
}

.currency-select {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* footer links */
.footer-links {
  display: flex;
  gap: 24px;
  font-size: 14px;
  opacity: 0.8;
}

.footer-links a {
  cursor: pointer;
}

.footer-social {
  display: flex;
  gap: 14px;
}

.footer-social img {
  width: 20px;
  opacity: 0.9;
  cursor: pointer;
}

/* COPYRIGHT */
copyright {
  margin-top: 30px;
  text-align: center;
  opacity: 0.7;
  font-size: 14px;
}

/* ------------------ RESPONSIVE ------------------ */

@media (max-width: 900px) {
  .newsletter,
  .footer-main {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .news-right {
    width: 100%;
  }

  .news-input {
    width: 100%;
  }
}
