.header {
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
   flex-shrink: 0; 
}

.header-nav {
  border: 1px solid #333;
  padding: 6px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.logo-img {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  white-space: nowrap;
}

.logo-text {
  display: flex;
  flex-direction: column;
  font-family: "Lexend Deca", sans-serif;
  color: #333;
  line-height: 1.1;
  gap: 3px;
}

.logo-line1 {
  font-size: 18px;
  font-weight: 600;
}

.logo-line2 {
  font-size: 18px;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
    flex-shrink: 1;
}

.icon {
  width: 24px;
  height: 24px;
}

.lang {
  font-size: 14px;
  font-weight: 600;
  color: black;
}


@media (max-width: 768px) {
  .header {
    padding: 16px 20px;
  }

  .logo-img {
    width: 38px;
    height: 38px;
  }

  .logo-line1,
  .logo-line2 {
    font-size: 16px;
  }

  .header-right {
    gap: 8px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 16px 14px;
    flex-wrap: nowrap;     
    gap: 10px;
  }

  .logo-line1,
  .logo-line2 {
    font-size: 14px;        
  }

  .header-right {
    gap: 6px;
  }

  .header-nav {
    padding: 4px 8px;       
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}

