.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  position: relative;
}

.hero-left {
  width: 50%;
}

.hero-right {
  width: 50%;
  display: flex;

  justify-content: center;
}

.phone-img {
  width: 350px;
}
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    padding: 20px;
  }

  .hero-left {
    width: 100%;
    flex: 2;             
  }

  .hero-right {
    width: 100%;
    flex: 1;              
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .phone-img {
    width: 200px;        
  }
}
