.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  position: relative;
}

.hero-left {
  width: 50%;
}

.hero-right {
  width: 50%;
  display: flex;

  justify-content: center;
}

.phone-img {
  width: 350px;
}
