.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  position: relative;
  background-color: black;
  
}

.hero-left {
  width: 50%;
}

.hero-right {
  width: 50%;
  display: flex;

  justify-content: center;
}

.phone-img {
  width: 350px;
}
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    padding: 20px;
  }

  .hero-left {
    width: 100%;
    flex: 1.6;        /* Bigger left */
  }

  .hero-right {
    width: 100%;
    flex: 1;          /* Smaller right */
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .phone-img {
    width: 200px;      /* Adjust smaller size */
  }
}

