.home{
    background-color: #ffffff;
}
.div-home{
background-color: #f5f3f3;
padding-left: 7%;
padding-right: 7%;
padding-top: 3%;
padding-bottom: 3%;
}

@media (max-width: 768px) {
    .div-home {
        padding-left: 0;
        padding-right: 0;
        height: 650px;
    }
}