.search-card {
  width: auto;
  background: #ffffff;
  padding: 8%;
  border-radius: 16px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: visible;
}


.search-card h1 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
  color: #000;
}

.search-input {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 8px;
  background: #fff;
  margin-top: 4%;
}

.input-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.input-icon-add {
  width: 20px;
  height: 20px;
  opacity: 1;
}


.search-input input {
  width: 94%;
  border-radius: 8px;
  border: none;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 40px !important;  
  line-height: 20px;
  letter-spacing: -0.004em;
  outline: none;
  color: #555 !important;
}



.add-dropoff-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 6px; 
  margin: 10px 0 15px 0;
}

.vertical-line {
  width: 1.4px;
  height: 13px;
  background: #7eb6a2;
  margin-left: 24px; 
  margin-top: -10px;
}


.add-dropoff {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  color: #45b68d;
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.4px;

  margin-left: 16px; 
}

.add-icon {
  width: 17px;
  height: 17px;
}

.date-row {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.date-box {
  flex: 1;
  position: relative;
  margin-top: 3%;
}

.date-box input {
  width: 100%;
  padding: 12px 12px 12px 42px; 
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  outline: none;
  background: #ffffff;
  cursor: pointer;
  color: #333;
}

.date-box label {
  margin-top: 6px;
  font-size: 14px;
  color: #777;
}
.date-box .input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.7;
}

.alert-check {
 display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  color: #45b68d;
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.4px;

  margin-left: 16px; 
}


.search-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;

  color: white;
  font-family: "Lexend Deca", sans-serif;
  background: linear-gradient(180deg, #45B68D 0%, #239C7D 100%);
}

.calendar-popup {
  position: absolute;
  top: -150px;      
  left: 50px;       
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.location-dropdown {
  position: absolute;
  background: #fff;
  width: 84%;
  max-height: 230px;        
  overflow-y: auto;        
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  margin-top: 5px;
  padding: 10px 0;
  z-index: 100;
}
.location-dropdown::-webkit-scrollbar {
  width: 6px;
}

.location-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.location-dropdown::-webkit-scrollbar-track {
  background: transparent;
}


.location-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 18px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.location-item:hover {
  background: #f5f5f5;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 12px;
}

.loc-icon {
  width: 18px;
}

.loc-info p {
  margin: 0;
}


.loc-name {
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}



.loc-sub {
  font-size: 12px;
  color: gray;
}
 .error-msg {
  color: red;
  margin-top: 8px;
  font-size: 14px;
}
.loc-code {
  font-family: "Lexend Deca";
  font-size: 16px;
  color: #45b68d;
  font-weight: 600;
}

@media (max-width: 900px) {
   .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .search-card {
    padding: 6%;
  }

  .search-card h1 {
    font-size: 32px;
    line-height: 42px;
  }

  .date-row {
    gap: 8px;
  }
  .hero-right-img {
    width: 90%;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    padding: 20px;
  }

  .hero-left {
    width: 100%;
    flex: 2;   
  }

  .hero-right {
    width: 100%;
    flex: 1;   
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .phone-img {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .hero-right {
    display: none !important;
  }

  .hero-section {
    padding: 12px;
  }

  
  .search-card {
    padding: 24px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;  
  }

  .search-card h1 {
    font-size: 26px;
    line-height: 34px;
  }

  .search-input {
    padding: 12px;
    gap: 8px;
    width: 100%;
  }

  .search-input input {
    width: 100%;
    padding-left: 35px !important;
  }

  .location-dropdown {
    width: 100%;
    left: 0;
  }

  .add-dropoff-wrapper {
    margin-left: 0;
    gap: 4px;
  }

  .add-dropoff {
    margin-left: 0;
    font-size: 13px;
  }

  .vertical-line {
    margin-left: 18px;
  }

  .date-row {
    flex-direction: column;
    gap: 14px;
    margin: 10px 0;
  }

  .date-box {
    margin-top: 0;
    width: 100%;
  }

  .date-box input {
    padding: 12px 12px 12px 38px;
  }

  .alert-check {
    margin-left: 0;
    font-size: 13px;
  }

  .search-btn {
    font-size: 15px;
    padding: 14px;
    width: 100%;
  }

  .calendar-popup {
    top: auto;
    bottom: -260px;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 380px) {
  .search-card h1 {
    font-size: 22px;
  }

  .input-icon {
    width: 17px;
  }

  .date-box input {
    font-size: 13px;
  }
 


  .search-btn {
    font-size: 14px;
  }
}
