.tp-section {
  width: 100%;
  padding: 40px 0;
  text-align: center;
}

.tp-title {
  font-family: "Lexend Deca", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin-bottom: 35px;
}


.tp-grid {
  width: 100%;
  max-width: 1280px;     
  margin: 0 auto;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;

  padding: 0 20px;   
}

.tp-card {
  width: 100%;
  max-width: 240px;      
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding-bottom: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center;
  margin: 0 auto;     
}

.tp-card:hover {
  transform: translateY(-4px);
}

.tp-img {
  width: 215px;
  height: 223px;
  object-fit: cover;
  border-radius: 14px;
  margin: 12px auto 0;
  display: block;
}

.tp-name {
  font-family: "Lexend Deca";
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  color: #000;
}

@media (max-width: 1024px) {
  .tp-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
  }
}

@media (max-width: 768px) {
  .tp-title {
    font-size: 28px;
  }

  .tp-img {
    width: 200px;
    height: 210px;
  }
}

@media (max-width: 600px) {
  .tp-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 22px;
  }

  .tp-card {
    /* max-width: 260px; */
    width: 100%;
  }

  .tp-img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 380px) {
  .tp-title {
    font-size: 26px;
  }

  .tp-img {
    width: 180px;
    height: 180px;
  }
}
