.travel-guides-section {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  padding: 20px 0 60px;
}

.tg-title {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;        
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.05em; 
  text-align: center;
  color: #000;
}


.tg-subtitle {
  max-width: 660px;
  margin: 0 auto 40px;
   font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: #6d6d6d;
  line-height: 22px;
}

.tg-grid {
  width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.tg-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.1);
  text-align: left;
}

.tg-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.tg-content {
  padding: 24px;
}

.tg-card-title {
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  font-weight: 700;  
  margin-bottom: 6px;
  color: #000;
}

 .tg-card-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;       
  font-size: 12px;
  line-height: 20px;
  /* letter-spacing: 0;              */
  color: rgba(0, 0, 0, 0.65);    
}


.tg-banner {
  grid-column: span 2;
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  height: 320px;
}
.tg-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0)
  );
}



.tg-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;   
   transform: scaleX(-1);
}


.tg-banner-text {
  position: absolute;
  top: 25%; 
  left: 20px;
  color: #fff;
  text-align: left;
  max-width: 300px;
  z-index: 2;   
  margin-left: 40px;
}

.tg-banner-text h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;          
  font-size: 38px;
  line-height: 46px;         
  letter-spacing: -0.01em;  
  margin: 0;
}


.tg-banner-text p {
  margin: 10px 0 20px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;          
  line-height: 20px;
  color: #ffffff;
}

.tg-banner-btn {
  background: #45b68d;
  padding: 10px 20px;
  border-radius: 13px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}



@media (max-width: 1024px) {
  .tg-grid {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }

  .tg-banner {
    grid-column: span 2;
  }
}

@media (max-width: 600px) {
  .tg-grid {
    grid-template-columns: 1fr;
  }

  .tg-banner {
    height: 260px;
  }
}
